<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- css vuetify -->
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    />

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

     <!-- share link -->
     <script src=“https://cdn.jsdelivr.net/npm/vue-social-share@0.0.3/dist/vue-social-share.min.js” charset=“utf-8"></script>
  

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />

    <script src="https://unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css?family=Amatic+SC|Comfortaa|Dancing+Script|Dosis|Indie+Flower|Muli|Oxygen"
      rel="stylesheet"
    />

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      #map {
        height: 425px;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: "Comfortaa", cursive;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <b-container id="front_card" style="display:flex" class="card my-5" v-if='seen'>
        <b-row>
          <b-col style="overflow:hidden">
            <div class="google-map">
              <img  :src="src"/>

            </div>
          </b-col>

          <add-detail
            v-bind:male_name="male_name"
            v-bind:female_name="female_name"
            v-bind:location="location"
            v-bind:date="date"
            v-bind:time="time"
            v-bind:font="font"
          ></add-detail>
        </b-row>
      </b-container>

      <b-container id="photo_card" class="my-4 card" v-if='seen'>
        <b-row>
          <b-col>
            <h1>Happy Wedding</h1>
          </b-col>
          <b-col>
            <div id="preview">
              <img v-if="url" :src="url" alt="the pic" width="50%" />
            </div>
          </b-col>
        </b-row>
      </b-container>

      <b-container class="card" style="margin-bottom:10%" v-if='seen'>
        <b-row style="display:flex;justify-content:center">
          <button
            type="button"
            class="btn btn-success"
            style="width: 95%"
            @click="clickImage"
          >
            create image
          </button>
        </b-row>

        <b-row class="m-2 p-3 card mt-4" style="display:flex">
          <b-col>
            <b-form @submit.prevent="upload">
              Select a photo file:
              <input
                type="file"
                ref="imageFile"
                @change="previewImage"
                name="image">
            </b-form>
          </b-col>
        </b-row>

        <b-row class="my-2">
          <b-col>
            <label for="select_font">Select Font:</label>
            <b-form-select v-model="selected" class="mb-3" id="select_font">
              <option value="Muli">Muli</option>
              <option value="Dosis">Dosis</option>
              <option value="Oxygen">Oxygen</option>
              <option value="Indie Flower">Indie Flower</option>
              <option value="Dancing Script">Dancing</option>
              <option value="Amatic SC">Atomic</option>
              <option value="Comfortaa">Comforta</option>
            </b-form-select>
          </b-col>
        </b-row>

        <b-row class="my-4">
          <b-col>
            <label for="Male">Male Name:</label>
            <b-form-input placeholder="male" v-model="male_name"></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-4">
          <b-col>
            <label for="female">Female Name:</label>
            <b-form-input
              placeholder="female"
              v-model="female_name"
              id="female"
            ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="my-2">
          <b-col>
            <label for="">Wedding location:</label>
            <div id="map"></div>
            <button
              class="btn btn-danger my-4"
              @click="submit_map"
              style="width:100%"
            >
              Submit Location
            </button>
          </b-col>
        </b-row>

        <b-row class="my-2">
          <p>Wedding time :</p>
          <b-col style="display:flex;justify-content:center">
            <v-date-picker
              v-model="date"
              landscape="true"
              header-color="blue"
              color="blue"
            ></v-date-picker>
          </b-col>
          <b-col style="display:flex;justify-content:center">
            <v-time-picker
              v-model="time"
              landscape="true"
              color="blue"
            ></v-time-picker>
          </b-col>
        </b-row>

        <input id="location" type="hidden" />
        <input id="latmap" type="hidden" />
        <input id="lngmap" type="hidden" />
        <input id="seen" type="hidden"/>

      </b-container>

      <b-container v-if='!(seen)' class="card">
        <b-row class="my-4">
            <img :src="imageTwo">
            <div style="height:30px">
                  <a :href="gettwitter()">  <i class="fab fa-twitter-square fa-3x"></i> </a>
            </div>
        </b-row>
        <!-- <b-row>
            <img :src="imageTwo">
        </b-row> -->
      </b-container>

    </div>
   
  </body>
  <!-- component -->
  <script src="./components/add-name.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script src="./vue.js"></script>

  <script src="./html2canvas.js"></script>
  <script src="./html2canvas.min.js"></script>

  <script>
       

    //   upload gcs
  
  </script>

  <script src="google-map.js"></script>

  <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuGX_Vysl7PQnkIys6x4pOV4nbzxJQImU&callback=initMap"
  ></script>
</html>
